@page
@model RedLeg.Coaching.IndexModel

@if (!Model.Data.Any())
{
    <h2>No One-on-Ones found, contact your Mentor to configure access.</h2>
    <h4>Authenticated Email: @Model.Email</h4>
}

@foreach (var board in Model.Data)
{
    <h1>@board.Key.Name</h1>

    @foreach (var list in board.Value)
    {
        <h2>@list.Key.Name</h2>

        @foreach (var card in list.Value)
        {
            <h3>@card.Name</h3>

            @foreach (var checklist in card.CheckLists.OrderByDescending(_ => _.Name))
            {
                <h4>@checklist.Name</h4>

                <ul>
                    @foreach (var item in checklist.CheckItems)
                    {

                        <li>
                            <form method="post" asp-page-handler="ToggleCheck">
                                <input type="hidden" name="board" value="@board.Key.Id" />
                                <input type="hidden" name="list" value="@list.Key.Id" />
                                <input type="hidden" name="card" value="@card.Id" />
                                <input type="hidden" name="checklist" value="@checklist.Id" />
                                <input type="hidden" name="checklistitem" value="@item.Id" />
                                <input type="checkbox" name="isChecked" @(item.State == Manatee.Trello.CheckItemState.Complete ? "checked=checked" : "") onchange="this.form.submit()" />
                                @item.Name
                            </form>
                        </li>
                    }

                    <li>
                        <form method="post" asp-page-handler="AddItem">
                            <input type="hidden" name="board" value="@board.Key.Id" />
                            <input type="hidden" name="list" value="@list.Key.Id" />
                            <input type="hidden" name="card" value="@card.Id" />
                            <input type="hidden" name="checklist" value="@checklist.Id" />
                            <input name="text" type="text" />
                            <button type="submit">Add</button>
                        </form>
                    </li>
                </ul>
            }
        }
    }
}