@page
@model RedLeg.Coaching.IndexModel

@if (!Model.Data.Any())
{
    <h2>No One-on-Ones found, contact your Mentor to configure access.</h2>
    <h4>Authenticated Email: @Model.Email</h4>
}

@foreach (var board in Model.Data)
{
    <div>
        <h2>@board.Key.Id - @board.Key.Name</h2>

        @foreach (var list in board.Value)
        {
            <h3>@list.Key.Id - @list.Key.Name</h3>


            @foreach (var card in list.Value)
            {
                <h4>@card.Id - @card.Name</h4>

                @foreach (var checklist in card.CheckLists.OrderByDescending(_ => _.Name))
                {
                    <h5>@checklist.Id - @checklist.Name</h5>

                    <ul>
                        @foreach (var item in checklist.CheckItems)
                        {
                            if (item.State == Manatee.Trello.CheckItemState.Complete)
                            {
                                <li><input type="checkbox" checked="checked" />@item.Name</li>
                            }
                            else
                            {
                                <li><input type="checkbox"  />@item.Name</li>
                            }
                        }
                    </ul>
                }
            }

        }
    </div>
}