@page
@model RedLeg.Coaching.IndexModel

@if (!Model.Data.Any())
{
    <h2>No boards!</h2>
}

@foreach (var board in Model.Data)
{
    <div>
        <h2>@board.Key.Id - @board.Key.Name</h2>

        @foreach (var list in board.Value)
        {
            <h3>@list.Key.Id - @list.Key.Name</h3>

            <ul>
                @foreach (var card in list.Value)
                {
                    <li>@card.Id - @card.Name</li>
                }
            </ul>
        }
    </div>
}