@page
@model RedLeg.Coaching.IndexModel

@if (!Model.Cards.Any())
{
    <h2>No One-on-Ones found, contact your Mentor to configure access.</h2>
    <h4>Authenticated Email: @Model.Email</h4>
}

@foreach (var card in Model.Cards)
{
    <h1>@card.Board.Name - @card.Name</h1>

    @foreach (var checklist in card.CheckLists.OrderByDescending(_ => _.Name))
    {
        <h2>@checklist.Name</h2>

        <ul>
            @foreach (var item in checklist.CheckItems.OrderBy(i => i.State).ThenBy(i => i.Position))
            {
                var is_checked = item.State == Manatee.Trello.CheckItemState.Complete;

                <li>
                    <form method="post" asp-page-handler="ToggleCheck">
                        <input hidden name="checklistitem" value="@item.Id" />
                        <input hidden name="isChecked" value="@(is_checked ? "false" : "true")" />
                        <input type="checkbox" @(is_checked ? "checked=checked" : "") onchange="this.form.submit()" />
                        @item.Name
                    </form>
                </li>
            }

            <li>
                <form method="post" asp-page-handler="AddItem">
                    <input hidden name="checklist" value="@checklist.Id" />
                    <input name="text" type="text" />
                    <button type="submit">Add</button>
                </form>
            </li>
        </ul>
    }
}